
    <!-- Header -->
    <!--<header id="top" class="header">-->
        <div class="text-vertical-center">
            <%= render "infobar" %>
    
            <h1 style="color: rgba(255,255,255,0.7);">STARTING A BAND?</h1>
            <h3>Don't Pick Your Band Members Randomly</h3>
            <br>
            <%= link_to 'Join For Free...', new_user_registration_path, class: 'btn btn-dark btn-lg white' %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-dark btn-lg white' %>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Are You A Musician Looking To Start Or Join A Band?</h2>
                    <p class="lead">Join Bandomly For Free and Create Your Profile Then Search For Band Members In Your Area...</p>
                    <br/>
                    
                   <!-- <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" >Sign Up For Free</div>
                                <div class="panel-body">
                                Signing up is free and takes seconds.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" >Create Your Profile</div>
                                <div class="panel-body">
                                List instruments you play, youtube clips, info etc.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" >Search For Bandmates</div>
                                <div class="panel-body">
                                Search by zipcode and instrument.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    

    <!-- Footer -->
    